body{
    width: 100%;
    height: auto;
    margin: auto;
    padding: 1rem;
    background-image: url("./image/abstract-2829961_1920.png");
    
}

.quizes{
    width: 600px;
    margin: auto;
}
.container {
    padding: 1rem;
    border-bottom: 0.3rem solid rgb(230, 197, 208);
}

.btn-home {
    text-decoration: none;
    font-size: 1.5rem ;
    background-color:aqua;
    margin: 0.5rem;
    padding: 0rem 1rem;
    border-radius: 0.7rem;
}

.container-score{
    text-align: center;
}

.err-msg {
    color : red ;
    padding: 0.5rem;
    font-weight: bolder;
}

.btn-submit {
    border-radius: 0.5rem;
    padding: 0.5rem;
    font-size:large;
    font-weight: bolder;
    background-color: aqua;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
}

.score-msg{
    font-size: large;
    font-weight: bold;
}

span {
    background-color: rgb(230, 197, 208);
    color: rgb(177, 31, 165);
    padding-right: 1rem;
    padding-left: 1rem;
}

/* index.html styling */

.header{
    text-align: center;
    padding: 2rem;
}
.container-btn{
    text-align: center;
    margin-top: 3rem;
}
.btn-nav{
  border: solid 2px;
  text-align: center;
  margin: auto;
  text-decoration: none;
    padding: 00.5rem;
    box-shadow: 1rem;
}
a{
    text-decoration: none;
    color: black;
}
li{
    list-style-type: none;
    padding: 1rem;
}

/* make triangle.html */

.section-container{
    margin : 3rem;
    
}

.container-input{
    margin-top: 6rem;
    font-size: large;
    text-align: center;
}

.section-container input{
    width: 2rem;
    height: 1.5rem;
}
 
/* area of triangle */

.area-container{
    width: 600px;
    margin: auto;
    margin-top: 15%;
    margin-right: 8rem;
}
